body {
  background-color: white; }

.price {
  color: #bf3109; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

.top-bar-section ul li > a {
  font-family: "Open Sans", sans-serif; }

/*
#restaurant-name {
	font-family: $cursive-font;
	text-align: center;
	padding-top: .5em;
}
*/
#info {
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 1em; }

.content {
  background-color: black; }

#map_canvas {
  height: 40em; }

footer {
  color: black;
  padding-top: 2em;
  padding-bottom: 2em;
  //background-color: black; 
}

.menu-category {
  color: #786247;
  text-transform: uppercase;
  border-bottom: solid #786247 1px; }

#menu-header {
  border-bottom: 3px dotted; }

.menu-item {
  color: #5e8386;
  font-weight: normal;
  text-transform: uppercase; }

.menu-description {
  color: #786247; }

h4.menu-description {
  font-weight: normal; }

h4.directions, #directions {
  color: black; }

h4.directions {
  border-bottom: solid white 1px; }

.bold {
  font-weight: bold; }

#directions {
  font-weight: normal; }

span#direction-header {
  border-bottom: dotted white 3px; }

div#notes-reheat-pizza {
  border: solid black 1px;
  background-color: #ebe6de; }

h4#notes-header {
  text-align: center;
  color: #786247; }

#row-notes {
  padding-bottom: 1em; }

a:link {
  color: #000000; }

#map-button {
  background: #f1e4ae;
  color: #786247;
  margin-top: .5em; }

li.active {
  background-color: #fc1503; }

.fb-like {
  top: -98px;
  left: 10px; }

p.about-description {
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 1.25em; }

#pits {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #ebe6de; }

img {
  margin-left: auto;
  margin-right: auto; }

p.address {
  line-height: .25em; }

h1#title {
  color: white;
  padding-right: 1em; }

.serif {
  font-family: 'Bitter', serif;
}

.underline {
    text-decoration: underline;
}
