body {
  background-color: #f1e4ae; }

.price {
  color: #bf3109; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

#restaurant-name {
  font-family: "Fondamento", cursive;
  text-align: center;
  padding-top: .5em; }

#info {
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 1em; }

.content {
  background-color: black; }

.map {
  height: 25em; }

footer {
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: black; }

.menu-category {
  color: #786247;
  text-transform: uppercase; }

#menu-header {
  border-bottom: 3px dotted; }

.menu-item {
  color: #5e8386;
  font-weight: normal;
  text-transform: uppercase; }

.menu-description {
  color: #786247; }

h4.menu-description {
  font-weight: normal; }

h4.directions, #directions {
  color: white; }

h4.directions {
  border-bottom: solid white 1px; }

.bold {
  font-weight: bold; }

#directions {
  font-weight: normal; }

span#direction-header {
  border-bottom: dotted white 3px; }

div#notes-reheat-pizza {
  border: solid black 1px; }

h4#notes-header {
  text-align: center;
  color: #786247; }

#row-notes {
  padding-bottom: 1em; }

a:link {
  color: #000000; }

#map-button {
  background: #f1e4ae;
  color: #786247; }

li.active {
  background-color: #f9001b; }

.fb-like {
  padding-top: .75em; }
